{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>S-BOX</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <!-- style css -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   <!-- fevicon -->
   <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- owl stylesheets -->
   <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
   <!-- header section start -->
   <class class="header_section">
      <div class="container">
         <div class="row">
            <div class="col-sm-3">
               <div class="logo" style="margin-top: -61px;margin-left: -91px;"><a href="#"><img
                        src="{% static 'images/logo.png' %}"></a></div>
            </div>
            <div class="col-sm-9">
               <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                     aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                     <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'store' %}">Shoes</a>
                        <div class="dropdown">
                           <a class="nav-item nav-link last dropdown-toggle" data-bs-toggle="dropdown" data="dropdown"
                              aria-expanded="false" href="">categories</a>
                           <ul class="dropdown-menu">
                              {% for category in links %}
                              <a class="dropdown-item" href="{{category.get_url}}">{{category.category_name}}</a>
                              {% endfor %}
                           </ul>
                        </div>
                        <a class="nav-item nav-link" href="{% url 'contactpage' %}">Contact</a>
                        <a class="nav-item nav-link last" href="{% url 'cart' %}"><img
                              src="{% static 'images/shop_icon.png' %}">
                           <span class="badge badge-pill badge-danger notify">{{cart_count}}</span></a>
                        <div class="dropdown">

                           <a class="nav-item nav-link last dropdown-toggle" data-bs-toggle="dropdown" data="dropdown"
                              aria-expanded="false" href=""><svg xmlns="http://www.w3.org/2000/svg" width="22"
                                 height="22" style="margin-top: 6px" fill="currentColor" class="bi bi-person-circle"
                                 viewBox="0 0 16 16">
                                 <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                 <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                              </svg>
                           </a>
                           <ul class="dropdown-menu">
                              {% if user.id is not None%}
                              <li><a class="dropdown-item" href="{% url 'dashboard' %}">Profile</a></li>
                              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                              {% else %}
                              <li><a class="dropdown-item" href="{% url 'login' %} ">Login</a></li>
                              <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>

                              {% endif %}
                           </ul>
                        </div>
                     </div>
                  </div>
               </nav>
            </div>
         </div>
      </div>
      <div class="banner_section">
         <div class="container-fluid">
            <section class="slide-wrapper">
               <div class="container-fluid">
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                     <!-- Indicators -->
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                     </ol>

                     <!-- Wrapper for slides -->
                     <div class="carousel-inner">
                        {% for special_product in f_product %}
                        <div class="carousel-item active">
                           <div class="row">
                              <div class="col-sm-2 padding_0">
                                 <p class="mens_taital">Men Shoes</p>
                                 <div class="page_no">0/2</div>
                                 <p class="mens_taital_2">Men Shoes</p>
                              </div>
                              <div class="col-sm-5">
                                 <div class="banner_taital">
                                    <h1 class="banner_text">New Running Shoes </h1>
                                    <h1 class="mens_text"><strong>{{special_product.product_name}}</strong></h1>
                                    <p class="lorem_text">{{special_product.discription}}</p>
                                    <a href="{{special_product.get_url}}"><button class="buy_bt">Buy Now</button></a>
                                    <a href="{% url 'store' %}"><button class="more_bt">See More</button></a>
                                 </div>
                              </div>
                              <div class="col-sm-5">
                                 <div class="shoes_img"><img src="{{ special_product.images.url }}"></div>
                              </div>
                           </div>
                        </div>
                        {% endfor %}
                     </div>
                  </div>
            </section>
         </div>
      </div>
      </div>
      <!-- header section end -->
      <!-- new collection section start -->
      <br>
      <br>
      <br>
      <br>
      <br>
   </class>
   <div class="collection_section">
      <div class="container">
         <h1 class="new_text"><strong>Today offer</strong></h1>
         <p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
      </div>
   </div>
   {% for today_offer in today_offer%}
   <div class="collectipn_section_3 layuot_padding">
      <div class="container">
         <div class="racing_shoes">
            <div class="row">
               <div class="col-md-8">
                  <div class="shoes-img3"><img src="{{today_offer.images.url}}"></div>
               </div>
               <div class="col-md-4">
                  <div class="sale_text"><strong>Today<br><span style="color: #0a0506;">Only</span> <br>Offer</strong>
                  </div>
                  <div class="number_text"><strong>Rs<span style="color: #0a0506">{{today_offer.price}}</span></strong>
                  </div>
                  <a href="{{today_offer.get_url}}"> <button class="seemore">Buy Now</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endfor %}
   <div class="collection_section layout_padding">
      <div class="container">
         <h1 class="new_text"><strong>New Arrivals Products</strong></h1>
         <p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
      </div>
   </div>
   <!-- new collection section end -->
   <!-- New Arrivals section start -->
   <div class="layout_padding gallery_section">
      <div class="container">
         <div class="row">
            {% for product in products %}
            {% if forloop.counter < 7 %} <div class="col-sm-4">
               <div class="best_shoes" style="min-height:400px;">
                  <div class="shoes_icon"><a href="{{product.get_url}}"><img class="shoe-pro-img" style="height:100%; max-width: 200px;" src="{{product.images.url}}"></a></div>
                  <a href="{{product.get_url}}">
                     <p class="best_text">{{product.product_name}}</p>
                  </a>
                  <div class="star_text">
                     <div class="left_part">
                        <article class="box mb-3">
                           <div class="icontext w-100">
                              <div class="text">
                                 <span class="date text-muted float-md-right">{{review.updated_at}}</span>
                                 <h6 class="mb-1">{{review.user.full_name}}</h6>
                                 <div class="rating-stars">
                                    <span>
                                       <i class="fa fa-star{% if review.rating == 0.5 %}-half-o {% elif review.rating < 1 %}-o {% endif %}"
                                          aria-hidden="True"></i>
                                       <i class="fa fa-star{% if review.rating == 1.5 %}-half-o {% elif review.rating < 2 %}-o {% endif %}"
                                          aria-hidden="True"></i>
                                       <i class="fa fa-star{% if review.rating == 2.5 %}-half-o {% elif review.rating < 3 %}-o {% endif %}"
                                          aria-hidden="True"></i>
                                       <i class="fa fa-star{% if review.rating == 3.5 %}-half-o {% elif review.rating < 4 %}-o {% endif %}"
                                          aria-hidden="True"></i>
                                       <i class="fa fa-star{% if review.rating == 4.5 %}-half-o {% elif review.rating < 5 %}-o {% endif %}"
                                          aria-hidden="True"></i>
                                    </span>
                                 </div>
                              </div>
                           </div> <!-- icontext.// -->
                        </article>
                     </div>
                     <div class="right_part">
                        <div class="shoes_price"><span style="color: #ff4e5b;">₹{{product.price}}/-</span></div>
                     </div>
                  </div>
               </div>
         </div>
         {% endif %}
         {% endfor %}
         <div class="buy_now_bt">
            <a href="{% url 'store' %}"> <button class="buy_text">See More</button></a>
         </div>
      </div>
   </div>

   <!-- New Arrivals section end -->
   <!-- contact section start -->
   <div class="layout_padding contact_section">
      <div class="container">
         <h1 class="new_text"><strong>Contact Now</strong></h1>
      </div>
      <div class="container-fluid ram">
         <div class="row">
            <div class="col-md-6">
               <div class="email_box">
                  <div class="input_main">
                     <div class="container">
                        <form action="{% url 'contact' %}" method="post">
                           {% csrf_token %}
                           <div class="form-group">
                              <input type="text" name="name" class="email-bt" placeholder="Name" name="Name" required>
                           </div>
                           <div class="form-group">
                              <input type="text" name="phone_number" class="email-bt" placeholder="Phone Numbar"
                                 required>
                           </div>
                           <div class="form-group">
                              <input type="text" name="email" class="email-bt" placeholder="Email" required>
                           </div>

                           <div class="form-group">
                              <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="massage"
                                 required></textarea>
                           </div>
                     </div>
                     <div class="send_btn">
                        <button class="main_bt" type="submit">Send</button>
                     </div>
                     </form>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="shop_banner">
                  <div class="our_shop">
                     <button class="out_shop_bt">Our Shop</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- contact section end -->
   <!-- section footer start -->
   <div class="section_footer">
      <div class="container">
         <div class="mail_section">
            <div class="row">
               {% comment %} <div class="col-sm-6 col-lg-2">
                  <div><a href="#"><img src="{% static 'images/footlogo.png' %}"></a></div>
               </div> {% endcomment %}
               <div class="col-sm-6 col-lg-2">
                  <div class="footer-logo"><img src="{% static 'images/phone-icon.png' %}"><span class="map_text">+(91)
                        9744586291</span></div>
               </div>
               <div class="col-sm-6 col-lg-3">
                  <div class="footer-logo"><img src="{% static 'images/email-icon.png' %}"><span
                        class="map_text">sbox@gmail.com</span>
                  </div>
               </div>
               <div class="col-sm-6 col-lg-3">
                  <div class="social_icon">
                     <ul>
                        <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                        <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                        <li><a href="#"><img src="{% static 'images/in-icon.png'  %}"></a></li>
                        <li><a href="#"><img src="{% static 'images/google-icon.png' %}"></a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-sm-2"></div>
            </div>
         </div>
         <div class="footer_section_2">
            <div class="row" style="justify-content: space-between">
               <div class="col-sm-3 col-lg-2">
                  <h2 class="shop_text">Address</h2>
                  <div class="image-icon"><img src="{% static 'images/map-icon.png' %}"><span class="pet_text">
                        Bilathikulam road City
                        Kozhikode State
                        Kerala
                        County
                        Kozhikode
                     </span></div>
               </div>
               <div class="col-sm-4 col-md-6 col-lg-3">
                  <h2 class="shop_text">Our Company </h2>
                  <div class="delivery_text">
                     <ul>
                        <li>Delivery</li>
                        <li>Legal Notice</li>
                        <li>About us</li>
                        <li>Secure payment</li>
                        <li>Contact us</li>
                     </ul>
                  </div>
               </div>
               <div class="col-sm-6 col-lg-3">
                  <h2 class="adderess_text">Products</h2>
                  <div class="delivery_text">
                     <ul>
                        <li>Prices drop</li>
                        <li>New products</li>
                        <li>Best sales</li>
                        <li>Contact us</li>
                        <li>Sitemap</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   {% comment %} sweet alert {% endcomment %}

   {% for message in messages %}
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <script>
      swal({
         title: "Done",
         text: "{{message}}",
         icon: "success",
         button: "close",
      });
   </script>

   {% endfor %}


   <!-- section footer end -->
   <!-- JavaScript Bundle with Popper -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>

   <!-- Javascript files-->
   <script src="js/jquery.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>
   <script src="js/jquery-3.0.0.min.js"></script>
   <script src="js/plugin.js"></script>
   <!-- sidebar -->
   <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="js/custom.js"></script>
   <!-- javascript -->
   <script src="js/owl.carousel.js"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   <script>

      //scroll slides on swipe for touch enabled devices

      $("#myCarousel").on("touchstart", function (event) {

         var yClick = event.originalEvent.touches[0].pageY;
         $(this).one("touchmove", function (event) {

            var yMove = event.originalEvent.touches[0].pageY;
            if (Math.floor(yClick - yMove) > 1) {
               $(".carousel").carousel('next');
            }
            else if (Math.floor(yClick - yMove) < -1) {
               $(".carousel").carousel('prev');
            }
         });
         $(".carousel").on("touchend", function () {
            $(this).off("touchmove");
         });
      });
   </script>
</body>

</html>